.page__footer {
  padding-top: 57px;
  padding-bottom: 71px;
  min-height: 30dvh;

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .logo {
      width: 90%;
      height: auto;
      max-width: 178px;
    }

    .social__links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 13px;

      img {
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.4s ease;
        cursor: pointer;

        &:hover {
          background-color: #7f00ff;
        }
      }
    }
  }
}
