@import "../../../styles/globals.scss";

.page__prize-fund {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 36px;
  padding-bottom: 5px;

  .prize__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Unbounded";
    @include prizeBgColor();

    .prize__info {
      margin: 3px;
      background-color: #000;
      width: 100%;
      padding: 48px 10px 56px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      h2 {
        font-size: 36px;
        font-weight: 500;
      }

      strong {
        @include prizeBgColor();
        font-size: 55px;
        font-weight: 600;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}
