@import "../../../styles/globals.scss";

@font-face {
  font-family: "Unbounded";
  src: url("../../../assets/fonts/Unbounded/static/Unbounded-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

.page__statistics {
  padding: 115px 0 116px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .statistics__row {
    width: 100%;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
    justify-content: space-around;
    align-items: center;

    .ant-col {
      background-color: black;
      padding: 0 !important;
      min-width: 365px;
      border: 3px solid #7f00ff;
      border-bottom: none;
      flex: none;
      user-select: none;
      position: relative;

      &.col-1 {
        @include makeBottomBorderColorful(#8a00f6, #00d1ff, 4px, 3px);
      }

      &.col-2 {
        @include makeBottomBorderColorful(#00d1ff, #f600b1, 4px, 3px);
      }

      &.col-3 {
        @include makeBottomBorderColorful(#f600b1, #ff2e00, 4px, 3px);
      }

      .statistics__card {
        border: none;
        font-family: "Unbounded";
        width: 100%;
        border-radius: 0px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: background-color 0.8s ease;

        &:hover {
          background-color: #7f00ff;
        }

        h2 {
          font-size: 45px;
          font-weight: 600;
        }

        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;

      .ant-col {
        min-width: 100%;
      }
    }
  }
}
