@use "sass:math";
@import "../../../styles/globals.scss";

.page__winners {
  padding-top: 107px;
  padding-bottom: 146px;
  display: flex;
  flex-direction: column;
  row-gap: 120px;

  .winners__card {
    padding: 0;
    border: none !important;
    border-radius: 0;
    background-color: transparent;
    color: white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 284px;
      height: 284px;
      filter: blur(60px);
      border-radius: 50%;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 283px;
      height: 283px;
      filter: blur(60px);
      border-radius: 50%;
      z-index: -1;
    }

    &:nth-child(odd) {
      &::after {
        background: #00359b;
        right: 0;
        top: -15px;
        animation: blueMoveToLeft 8s ease infinite;
      }

      &::before {
        background: #7f00ff;
        right: -106px;
        bottom: 40px;
        animation: pinkMoveToLeft 10s ease infinite;
      }
    }

    &:nth-child(even) {
      &::after {
        background: #7f00ff;
        left: 0;
        top: -15px;
        animation: blueMoveToRight 7s ease infinite;
      }

      &::before {
        background: #00359b;
        left: -106px;
        bottom: 40px;
        animation: pinkMoveToRight 9s ease infinite;
      }
    }

    .ant-card-body {
      padding: 0;
      display: flex;
      gap: 56px;
      @media screen and (max-width: 1145px) {
        flex-direction: column;
        align-items: center;
      }

      .card__cup-wrapper {
        background-color: #0a0826;
        padding: 40px;
        max-width: 344px;
        min-width: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 444px;
        background-image: url("/cup.png");
        background-position: center;
        background-repeat: no-repeat;
        @include makeBottomBorderPrizeBg();

        .game-image {
          width: 100%;
          height: auto;
        }
      }

      .card__winners-info {
        width: 100%;
        height: 100%;

        .ant-divider {
          border: 2px solid #0a0826;
          margin: 14px 0;
        }

        .ant-row {
          width: 100%;
          align-items: center;
          text-align: left;
          column-gap: 20px;
          row-gap: 30px;

          .col__medal {
            img {
              width: 76px;
              height: auto;
            }
          }

          .col__team-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 1;

            h3 {
              font-family: "Unbounded";
              font-weight: 500;
              font-size: 24px;
              line-height: 29.76px;
            }

            p {
              font-family: "Exo2";
              font-weight: 600;
              font-size: 20px;
              line-height: 31px;
            }
          }

          .col__team-image {
            background-color: #0a0826;
            width: 176px;
            height: 128px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 95%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@keyframes blueMoveToLeft {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-150%, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes blueMoveToRight {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(150%, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes pinkMoveToLeft {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-240%, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes pinkMoveToRight {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(240%, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
