@font-face {
  font-family: "Exo2";
  font-weight: 400;
  src: url("../assets/fonts/Exo2/static/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  src: url("../assets/fonts/Unbounded/static/Unbounded-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-weight: 400;
  src: url("../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf")
    format("truetype");
}

@mixin makeBottomBorderColorful($leftColor, $rightColor, $size, $borderSize) {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -$borderSize;
    right: -$borderSize;
    height: $size;
    background: linear-gradient(90deg, $leftColor, $rightColor);
    z-index: 1;
  }
}

@mixin prizeBgColor() {
  background: linear-gradient(
    90deg,
    #8802f6 0%,
    #01cfff 31%,
    #f401b2 63%,
    #ff2d01 100%
  );
  background-size: 170% 170%;
  animation: prizeAnimation 4s ease infinite;
}

@keyframes prizeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin makeBottomBorderPrizeBg() {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 3;
    @include prizeBgColor();
  }
}

::selection {
  background-color: #7f00ff;
  color: white;
}

::-webkit-scrollbar {
  background-color: black;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #37a9e3;
  border-radius: 2px;
}

.page {
  font-family: "Exo2";
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  // max-width: 1366px;
  position: relative;
  @media screen and (max-width: 1000px) {
    overflow-x: hidden;
  }

  .fixed-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }
}

img {
  &.show-img {
    animation: showImageAnimation 2s ease;
  }
  &.hide-img {
    animation: hideImageAnimation 2s ease;
  }
}

@keyframes showImageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideImageAnimation {
  0% {
    opacity: 1;
    @keyframes showImageAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  100% {
    opacity: 0;
  }
}
